/* dashboard css */
/* Custom spacing for cards */
.custom-card-spacing {
  min-width: 250px;
  max-width: 270px;
  margin-bottom: 35px;
}
.card {
  height: 350px; /* Adjust based on your needs */
}
/* Minimum height for card body to ensure consistency */
.card-body {
  overflow: hidden;
}
.card-img-top {
  height: 150px;
  object-fit: cover;
}
.card-title,
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
